
<div id='dashboar-main'>


  <!-- panel-slide-0 -->
  <div id='panel-0' class='container-fluid prev'>
    <h1>panel 0</h1>
  </div>

   <!-- panel-chart -->
   <div id='panel-1' class='container'>

    <div class='d-flex flex-row justify-content-around'>
      <div><h4>{{building.name}}</h4></div>
      <div><img class='sm-img' [src]='building.imgUrl'/></div>
    </div>
    <hr/>

    <app-chart-line [sensor]='sensors[0]'></app-chart-line>
  </div>

  <!-- panel-slide-1 -->
  <div id='panel-2' class='container-fluid next'>
    <h1>panel 1</h1>
  </div>

</div>

  <!-- slideshow footer -->
<div id='ss-select'>
  <app-slideshow></app-slideshow>
</div>
